# Get a free key at https://aistudio.google.com/app/apikey
GEMINI_API_KEY=AQ.Ab8RN6IdLZTcu9-LrJ73-9nnR3lA0Ln_Rqf2Hb233NhoqsWnxA

# Get a free key from Google Cloud Console with YouTube Data API v3 enabled
# https://console.cloud.google.com/apis/library/youtube.googleapis.com
YOUTUBE_API_KEY=
